<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <th:block th:insert="~{common/head :: head}"></th:block>
  <title>コールバックパターンサンプル</title>
  <script th:src="@{js/product/product.js}"></script>
</head>

<body>
  <header class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" th:href="@{/}">コールバックサンプル</a>
    </div>
  </header>
  <main class="p-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <div class="accordion" id="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#searchForm"
                  aria-expanded="true" aria-controls="searchForm">検索条件</button>
              </h2>
              <div id="searchForm" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                <div class="accordion-body">
                  <form x-data="formData()" x-init="init()" th:action="@{/search}" method="get" th:object="${form}">
                    <div class="row mb-3">
                      <label for="name" class="col-sm-2 col-form-label">商品名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}" placeholder="商品名" x-model="form.name"
                          x-ref="name">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="name" class="col-sm-2 col-form-label">金額</label>
                      <div class="col-sm-3">
                        <input type="number" class="form-control" th:field="*{priceSince}" placeholder="金額"
                          x-model="form.priceSince" x-ref="priceSince">
                      </div>
                      <div class="col-auto d-flex align-items-center">
                        <span>～</span>
                      </div>
                      <div class="col-sm-3">
                        <input type="number" class="form-control" th:field="*{priceUntil}" placeholder="金額"
                          x-model="form.priceUntil" x-ref="priceUntil">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="name" class="col-sm-2 col-form-label">在庫数</label>
                      <div class="col-sm-3">
                        <input type="number" class="form-control" th:field="*{stockSince}" placeholder="在庫数"
                          x-model="form.stockSince" x-ref="stockSince">
                      </div>
                      <div class="col-auto d-flex align-items-center">
                        <span>～</span>
                      </div>
                      <div class="col-sm-3">
                        <input type="number" class="form-control" th:field="*{stockUntil}" placeholder="在庫数"
                          x-model="form.stockUntil" x-ref="stockUntil">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">検索</button>
                    <button type="button" class="btn btn-danger" @click="resetForm">リセット</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" th:unless="${#lists.isEmpty(items)}">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="row">
                  <div class="col-auto">
                    <h2>検索結果</h2>
                  </div>
                  <div class="col-auto">
                    <div class="dropdown">
                      <button class="btn btn-success dropdown-toggle rounded-pill" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">アクション</button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item"
                            th:href="@{/download/csv(name=${form.name},priceSince=${form.priceSince},priceUntil=${form.priceUntil},stockSince=${form.stockUntil},stockSince=${form.stockSince})}"
                            target="_blank">CSVファイルをダウンロード</a>
                        </li>
                        <li>
                          <a class="dropdown-item">JSONファイルをダウンロード</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-auto ms-auto">
                    <th:block th:insert="~{product/rowsPerPage :: rowsPerPage}"></th:block>
                  </div>
                  <div class="col-auto">
                    <th:block th:insert="~{product/pagination :: pagination}"></th:block>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-text">
              <table class="table table-striped text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>商品名</th>
                    <th>金額</th>
                    <th>在庫数</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="i : ${items}">
                    <td th:text="${i.id}"></td>
                    <td th:text="${i.name}"></td>
                    <td th:text="${i.price}"></td>
                    <td th:text="${i.stock}"></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-auto mx-auto">
                  <th:block th:insert="~{product/pagination :: pagination}"></th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>

</html>